<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-2">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      
    </div>
    <div class="col-sm-10">
      <div class="row">
          <div class="col-sm-3 col-lg-2">
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product1.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product1.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">            
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product2.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product2.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product3.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product3.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">            
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product4.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product4.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product5.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product5.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
      </div>   
      <div class="row">
          <div class="col-sm-3 col-lg-2">
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product6.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product6.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">            
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product7.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product7.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product8.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product8.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">            
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product9.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product9.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product10.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product10.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-lg-2">            
              <div class="card" style="width:300px">
                  <img class="card-img-top" src="assets/Product11.png" alt="Card image" style="width:200px;height:250px;">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <span>Some examplct and engineer
                   <img class="card-img-top" src="assets/Product11.png" alt="Card image" style="width:50px;height:50px;"></span>
                  </div>
                </div>
          </div>
      </div> 
  </div>
</div>

<table width="100%">
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
  </tr>
</table>

